<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@vars {
"var alertGrid|raw":"Alert Data Grid",
"var customerName":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Hello {{var name }} You was gotten this mail becose status of your order № {{var
    orderId }} was changed on {{var newStatus}}</p>
{{var alertGrid|raw}}

{{template config_path="design/email/footer_template"}}