<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@vars {
"var alertGrid|raw":"Alert Data Grid",
"var customerName":"Customer Name",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">Hello {{var name }} /n I want to answer to your wish on order № {{var orderId }} </p>
<p>{{var message}}</p>

{{template config_path="design/email/footer_template"}}
