<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vaimo\Mytest\Model\FunnyOrderInterface"
                type="Vaimo\Mytest\Model\FunnyOrder" />
    <preference for="Vaimo\Mytest\Api\FunnyOrderRepositoryInterface"
                type="Vaimo\Mytest\Model\FunnyOrderRepository" />
</config>