<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="vaimo_funny_order_model_status_was_changed">
        <observer name="sendMailToCustomerStatusChanged" instance="Vaimo\Mytest\Observer\MessageStatusChanged" />
    </event>
    <event name="funny_order_model_delete_after">
        <observer name="vaimoMytestDeleteModelFunnyModel" instance="Vaimo\Mytest\Observer\MessageFannyDeleted" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="VaimoMytestProductCollectionAfterLoad" instance="Vaimo\Mytest\Observer\ProductCollectionAfterLoad" />
    </event>
</config>