.myTestConteinerOne {
    border: 2px solid darkred;
    max-width: 600px;
    text-align: center;
}
.MyBlackContainer{
    border: 5px solid black;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}
.linksList{
    max-width: 100px;
}
.my_pages_parrent{
    position: relative;
    background-color:rebeccapurple;
}
.visbleNo{
    display: none;
}
.visibleYes{
    display: block;
    position: absolute;
}
.link{
    width: 50px;
    background: grey;
    display:inline-block;
}

